@using ChatApplication.Models
@model List<ChatMessage>

<head>
    <link rel="stylesheet" href=~/css/chat.css>
</head>

<body>
    <div class="chat">
        <div class="chat-nav">
            <img class="img-rectangle-2" src="~/Images/Rectangle 19.png" />
            <img class="img-rectangle-1" src="~/Images/Rectangle 18.png" />
            <h1 class="text up">Основной</h1>
            <h1 class="text down">Функционал</h1>
            <form style="position: static;" asp-controller="AdminHome" asp-action="ShowInputFields">
            <button type="submit" name="action" value="1" class="button-nav first">Удалить Пользователя</button>
            <button type="submit" name="action" value="2" class="button-nav second">Показать Переписку</button>
            <button type="submit" name="action" value="3" class="button-nav third">Удалить Сообщения Пользователя</button>
            <button type="submit" name="action" value="4" class="button-nav forth">Найти Все Сообщения</button>
            </form>
        </div>

        <div class="chat-body">
            <div class="chat-top"></div>
            <div class="chat-left"></div>
            <div class="chat-right"></div>

            <img style="width: 80%; height: 90%; margin-left: -10%; top: 5%; pointer-events: none;" class="img-rectangle-1 disable-select" src="~/Images/Component 6.png" />

            <div class="chat-box" style="height: 83%;">

                @for(int i = 0; i < Model.Count; i++)
                {
                    @if(i==0 || Model[i-1].MessageTime.Day != Model[i].MessageTime.Day)
                    {
                        <div class="date-time-message">
                            <p>@Model[i].MessageTime.ToString("MMMMMMMMMMMMM") @Model[i].MessageTime.Day</p>
                        </div>
                    }

                    @if(Model[i].SenderName == OnlineAdmin.Nickname)
                    {
                        <div class="message-bubble-fonts message-bubble">
                            <div class="message">
                                <header>@Model[i].SenderName</header>
                                <p>@Model[i].Message</p>
                                <footer>@Model[i].MessageTime.ToString("HH:mm")</footer>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="bot-message-bubble-fonts bot-message-bubble">
                            <div class="bot-message">
                                <header>@Model[i].SenderName</header>
                                <p>@Model[i].Message</p>
                                <footer>@Model[i].MessageTime.ToString("HH:mm")</footer>
                            </div>
                        </div>
                    }
                }

            </div>



            <div class="chat-down" style="height: auto; top: 96.9%;">
            </div>


            <h1 class="bot-name" style="margin-left: 0; width: 54.3%; text-align: center;">Консоль Системного Администратора</h1>
            <h1 class="bot-description" style="margin-left: 0; width: 54.3%; text-align: center;">System</h1>

        </div>

        <div class="chat-advertisment">
            <div style="margin-left: 1.9%;">
            <img class="img-rectangle-2" style="top:170px;" src="~/Images/Rectangle 19.png" />
            <img class="img-rectangle-1" style="top:130px;" src="~/Images/Rectangle 20.png" />
            <h1 class="text up" style="top:110px;">Заполнить</h1>
            <h1 class="text down" style="top: 150px;">Поля</h1>
            </div>
            <div class="admin-inputs">
                @if(AdminAction.action == ToDoAction.DeleteUser)
                {
                    <form asp-controller="AdminHome" asp-action="DeleteUser">
                        <input type="text" style="top:0%;" name="fullName" placeholder="ФИО Пользователя"/>
                        <br />
                        <input type="email" style="top:7%;" name="email" placeholder="Адрес Электронной Почты"/>
                        <button type="submit" style="top:53%">Отправить</button>
                    </form>
                } 
                else if(AdminAction.action == ToDoAction.ShowDialog)
                {
                    <form asp-controller="AdminHome" asp-action="ShowDialog">
                        <input type="text" style="top:0%;" name="fullName" placeholder="ФИО Пользователя"/>
                        <br />
                        <input type="email" style="top:7%;" name="email" placeholder="Адрес Электронной Почты"/>
                        <button type="submit" style="top:53%">Отправить</button>
                    </form>
                }
                else if(AdminAction.action == ToDoAction.DeleteDialog)
                {
                    <form>
                        <input type="text" style="top:0%;" placeholder="ФИО Пользователя"/>
                        <br />
                        <input type="email" style="top:7%;" placeholder="Адрес Электронной Почты"/>
                        <button type="submit" style="top:53%">Отправить</button>
                    </form>
                }
                else if(AdminAction.action == ToDoAction.FindMessageByInput)
                {
                    <form>
                        <input type="text" style="top:0%;" placeholder="Текст сообщения"/>
                        <button type="submit" style="top:46%">Отправить</button>
                    </form>
                }
            </div>
        </div>

    </div>
    <script src="~/js/scroll.js" defer></script>
</body>